# Names of the cosmological parameters used for inference.
cosmo_params_names = ["Omega_m", "sigma8"] # Not full support for other parameters yet.
# File with the values of the cosmological parameters for each simulation.
cosmo_params_file = "/home/isaezcasares/data/mls/models_parameters/models_parameters_sobol_ndim2.txt"

# Number of X-ray illumination models to use.
# If equal to zero, use only the fiducial model.
# If different from zero, use models from the sobol sequence.
# Only used if mobs_type="xlum" for at least one of the considered probes.
xlum_sobol_n_models = 0
# File with the values of the X-ray illumination parameters.
xlum_params_file = "/home/isaezcasares/data/mls/models_parameters/sobol_samples_Nmodels_8samples_6sigma.npz"

# Fraction of the total dataset to be used.
fraction_total = 0.1
# Validation and test datasets fractions (applied after fraction_total).
fraction_validation = 0.1
fraction_test = 0.1
# Seed used to split datasets and select fractions.
split_seed = 1234

# Verbose output.
verbose = true

[train]
# These are the parameters used to train the network.

# Type of CNN architecture.
cnn_type = 2

# Maximum number of epochs.
n_epochs = 1000
# Patience for early stopping.
patience_early_stopping = 10
# Early stopping patience can also be defined as a constant factor with respect to reduce_on_plateau_patience.
# i.e. patience = int(patience_early_stopping_factor x reduce_on_plateau_patience)
# If different from zero, this definition is used.
patience_early_stopping_factor = 3.5

# Settings for the loss function.

# Include a constraint on the skewness in the loss.
# Ignored if gauss_nllloss=true.
loss_skew = false
# Include a constraint on the kurtosis in the loss. WARNING: not fully implemented. Needs to be checked.
# Ignored if gauss_nllloss=true.
loss_kurt = false
# Use Gaussian negative log likelihood loss from pytorch (GaussianNLLLoss).
gauss_nllloss = false

# Use training parameters from previous tuning run.
# If true, the values of the remaining tranining parameters of this section will not be used.
train_from_tune = false
# Directory with the results of the tuning run. If set to "output_dir" use the same path as output_dir field.
tune_dir = "output_dir"
# Name of the optuna study to be used.
study_name = "mystudy"

# Patience for ReduceOnPlateau learning rate scheduler.
reduce_on_plateau_patience = 10
reduce_on_plateau_factor = 0.1

# Batch size for the training dataset.
batch_size = 32

# Initial learning rate.
learning_rate = 1e-3
# Weight decay for AdamW optimizer.
weight_decay = 0.1

# Dropout rate.
dropout = 0

# If true, use BatchNormalization.
batch_norm = true

# Parameters for the final regression FC block.
regressor_fc_layers = 2
regressor_fc_units_per_layer = 128

# Parameters for the power spectrum FC block.
ps_fc_layers = 2
ps_fc_units_per_layer = 128

# Parameters for the number counts FC block.
nc_fc_layers = 2
nc_fc_units_per_layer = 128

# Parameters for the density_field convolutional block.
density_field_n_channels_base = 1


[probes]
# These parameters control the cosmological probes that are used for inference.

# List of probes to be used.
# Parameters for probes that are not in this list are ignored.
probe_list = ["density_field"]

# Root directory relative to which the data directories for each probes are defined.
data_dir_root = "/home/isaezcasares/data/mls/pinocchio_observables/L1500_N750_sobol_ndim2"

[probes.density_field]
# Different mass/luminosity thresholds and redshifts are combined as different channels.
# The total number of channels is n_mobs * n_z, where n_mobs is the number of mass/luminosity thresholds and n_z the
# number of redshifts.

# Directory with the data relative to data_dir_root. Different redshifts and mass/luminosity selections are in sub-directories.
data_dir = "density_field_3D_tsc_n32_norsd"
# List of minimum mass/luminosity thresholds.
mobs_min = [0.13, 0.22, 0.36, 0.6, 1]
# Use mass or luminosity cuts.
# mass: "mass"
# luminosity: "xlum"
mobs_type = "xlum"
# List of redshifts (snapshots).
redshift = [0]

[probes.power_spectrum]
# Power spectrum from different mass/luminosity thresholds and redshifts are concatenated into a single 1D array.

# Directory with the data relative to data_dir_root. Different redshifts and mass/luminosity selections are in sub-directories.
data_dir = "power_spectrum_tsc_n128_norsd"
# List of minimum mass/luminosity thresholds.
mobs_min = [1e14]
# Use mass or luminosity cuts.
# mass: "mass"
# luminosity: "xlum"
mobs_type = "mass"
# List of redshifts (snapshots).
redshift = [0]

[probes.number_counts]
# Number counts from different redshifts are concatenated into a single 1D array.

# Directory with the data relative to data_dir_root. Different redshifts are in sub-directories.
data_dir = "number_counts"
# List of minimum mass/luminosity thresholds.
mobs_min = [1e14, 5e14, 1e15]
# Use mass or luminosity cuts.
# mass: "mass"
# luminosity: "xlum"
mobs_type = "mass"
# List of redshifts (snapshots).
redshift = [0]
# If true, use cumulative mass bins. If false, use differential mass bins. WARNING: not yet fully implemented.
cumulative = true

[tune]
# These are the parameters used to tune the hyperparameters of the network.

# Name of the optuna study.
study_name = "mystudy"

# Resume from previous study with same name if it exists.
resume = true

# Number of trials per process.
trials = 10
# Maximum number of epochs for each trial.
n_epochs = 1000

# Pruner to be used. Possible values: median, hyperband (see optuna documentation).
pruner = "median"

# Parameters for median pruner (see optuna documentation).
median_n_startup_trials = 5
median_n_warmup_steps = 20
median_n_min_trials = 1

# Parameters for hyperband pruner (see optuna documentation).
hyperband_min_resource = 10
hyperband_reduction_factor = 3

# Search space for all the tunable hyperparameters.

[tune.learning_rate]

low = 1e-4
high = 1e-1
log = true

[tune.weight_decay]

low = 1e-4
high = 1
log = true

[tune.batch_size]

choices = [16, 32, 64, 128, 256]

[tune.regressor_fc_layers]

low = 1
high = 10
step = 1

[tune.regressor_fc_units_per_layer]

low = 50
high = 1000
step = 50

[tune.ps_fc_layers]

low = 1
high = 10
step = 1

[tune.ps_fc_units_per_layer]

low = 50
high = 1000
step = 50

[tune.nc_fc_layers]

low = 1
high = 10
step = 1

[tune.nc_fc_units_per_layer]

low = 50
high = 1000
step = 50

[tune.density_field_n_channels_base]

low = 1
high = 10

[tune.dropout]

low = 0
high = 1

[tune.reduce_on_plateau_factor]

low = 0.01
high = 0.9
log = true
