#!/bin/bash
#SBATCH -A MLS
#SBATCH -J cnn32_m_z0
#SBATCH --partition=a100-gpu
#SBATCH --nodes=1
#SBATCH --ntasks=1
#SBATCH --cpus-per-task=1
#SBATCH --gpus-per-node=1
#SBATCH --mem=256G
#SBATCH --time=01-00:00:00
#SBATCH --output=/exa/projects/MLS/inigo.saez/logs/output/%x.%j.out
#SBATCH --error=/exa/projects/MLS/inigo.saez/logs/error/%x.%j.err

set -x

# Number of threads.
n_threads=1

########## Param. file: NC #########

#param_file="/home/users/inigo.saez/codes/MLS-CNN/inputs/input_indaco_nc_xlum_1.3e-1_1e0_5_z_0_xlumBA4_sobol8.toml"
#param_file="/home/users/inigo.saez/codes/MLS-CNN/inputs/input_indaco_nc_mass_1e14_1e15_10_z_0.toml"

########## Param. file: PS #########

#param_file="/home/users/inigo.saez/codes/MLS-CNN/inputs/input_indaco_ps_n128_mass_1e14_z_0.toml"
#param_file="/home/users/inigo.saez/codes/MLS-CNN/inputs/input_indaco_ps_n128_mass_1e14_1e15_10_z_0.toml"

########## Param. file: CNN #########

#param_file="/home/users/inigo.saez/codes/MLS-CNN/inputs/input_indaco_cnn_n16_mass_1e14_1e15_10_z_0.25.toml"

param_file="/home/users/inigo.saez/codes/MLS-CNN/inputs/input_indaco_cnn_n32_mass_1e14_1e15_10_z_0.toml"
#param_file="/home/users/inigo.saez/codes/MLS-CNN/inputs/input_indaco_cnn_n32_mass_1e14_1e15_10_z_0.25.toml"

#param_file="/home/users/inigo.saez/codes/MLS-CNN/inputs/input_indaco_cnn_n8_xlum_1.3e-1_1e0_5_z_0_xlumBA4_sobol8.toml"

#param_file="/home/users/inigo.saez/codes/MLS-CNN/inputs/input_indaco_cnn_n16_xlum_1.3e-1_1e0_5_z_0_xlumBA4_sobol8.toml"

#param_file="/home/users/inigo.saez/codes/MLS-CNN/inputs/input_indaco_cnn_n32_xlum_1.3e-1_1e0_5_z_0_xlumBA4_sobol8.toml"
#param_file="/home/users/inigo.saez/codes/MLS-CNN/inputs/input_indaco_cnn_n32_xlum_1.3e-1_1e0_5_z_0_xlumBA4_sobol8_S8.toml"
#param_file="/home/users/inigo.saez/codes/MLS-CNN/inputs/input_indaco_cnn_n32_xlum_1.3e-1_1e0_5_z_0_xlumBA4_sobol8_skew.toml"

#param_file="/home/users/inigo.saez/codes/MLS-CNN/inputs/input_indaco_cnn_n64_xlum_1.3e-1_1e0_5_z_0_xlumBA4_sobol8.toml"

#param_file="/home/users/inigo.saez/codes/MLS-CNN/inputs/input_indaco_cnn_n32_xlum_1.3e-1_1e0_5_z_0_xlumBA4_sobol8_hyperband.toml"
#param_file="/home/users/inigo.saez/codes/MLS-CNN/inputs/input_indaco_cnn_n32_xlum_1.3e-1_1e0_5_z_0_xlumBA4_sobol8_hyperband_skew.toml"

########## Param. file: NC #########

#output_dir="/exa/projects/MLS/inigo.saez/trained_models/number_counts_xlum_1.3e-1_1e0_5_z_0_xlumBA4_sobol8"
#output_dir="/exa/projects/MLS/inigo.saez/trained_models/number_counts_mass_1e14_1e15_10_z_0"

########## Output dir: PS #########

#output_dir="/exa/projects/MLS/inigo.saez/trained_models/ps_n128_mass_1e14_z_0"
#output_dir="/exa/projects/MLS/inigo.saez/trained_models/ps_n128_mass_1e14_1e15_10_z_0"

########## Output dir: CNN #########

#output_dir="/exa/projects/MLS/inigo.saez/trained_models/density_field_n16_mass_1e14_1e15_10_z_0.25"

output_dir="/exa/projects/MLS/inigo.saez/trained_models/density_field_n32_mass_1e14_1e15_10_z_0"
#output_dir="/exa/projects/MLS/inigo.saez/trained_models/density_field_n32_mass_1e14_1e15_10_z_0.25"

#output_dir="/exa/projects/MLS/inigo.saez/trained_models/density_field_n8_xlum_1.3e-1_1e0_5_z_0_xlumBA4_sobol8"

#output_dir="/exa/projects/MLS/inigo.saez/trained_models/density_field_n16_xlum_1.3e-1_1e0_5_z_0_xlumBA4_sobol8"

#output_dir="/exa/projects/MLS/inigo.saez/trained_models/density_field_n32_xlum_1.3e-1_1e0_5_z_0_xlumBA4_sobol8"
#output_dir="/exa/projects/MLS/inigo.saez/trained_models/density_field_n32_xlum_1.3e-1_1e0_5_z_0_xlumBA4_sobol8_S8"
#output_dir="/exa/projects/MLS/inigo.saez/trained_models/density_field_n32_xlum_1.3e-1_1e0_5_z_0_xlumBA4_sobol8_skew"

#output_dir="/exa/projects/MLS/inigo.saez/trained_models/density_field_n64_xlum_1.3e-1_1e0_5_z_0_xlumBA4_sobol8"

#output_dir="/exa/projects/MLS/inigo.saez/trained_models/density_field_n32_xlum_1.3e-1_1e0_5_z_0_xlumBA4_sobol8_hyperband"
#output_dir="/exa/projects/MLS/inigo.saez/trained_models/density_field_n32_xlum_1.3e-1_1e0_5_z_0_xlumBA4_sobol8_hyperband_skew"

# Python main script.
exe_python="/home/users/inigo.saez/codes/MLS-CNN/main.py"

mkdir -p $output_dir
cd $output_dir
mkdir -p logs

#python $exe_python tune -n $n_threads -f $param_file -o $output_dir &> ${output_dir}/logs/tune_1.log
python $exe_python tune -n $n_threads -f $param_file -o $output_dir &> ${output_dir}/logs/tune_2.log
#python $exe_python tune -n $n_threads -f $param_file -o $output_dir &> ${output_dir}/logs/tune_3.log

python $exe_python train -n $n_threads -f $param_file -o $output_dir &> ${output_dir}/logs/train.log
