#!/bin/bash
#SBATCH -A MLS
#SBATCH -J tu_cnn32_x5_z_0
#SBATCH --partition=a100-gpu
#SBATCH --nodes=1
#SBATCH --ntasks=1
#SBATCH --cpus-per-task=1
#SBATCH --gpus-per-task=1
#SBATCH --mem=64G
#SBATCH --time=00-03:00:00
#SBATCH --output=/exa/projects/MLS/inigo.saez/logs/output/%x.%j.out
#SBATCH --error=/exa/projects/MLS/inigo.saez/logs/error/%x.%j.err

set -x

# Number of threads.
n_threads=1

########## Param. file: PS #########

#param_file="/home/users/inigo.saez/codes/MLS-CNN/inputs/input_indaco_ps_n128_mass_1e14_z_0.toml"
#param_file="/home/users/inigo.saez/codes/MLS-CNN/inputs/input_indaco_ps_n128_mass_1e14_1e15_10_z_0.toml"

########## Param. file: CNN #########

param_file="/home/users/inigo.saez/codes/MLS-CNN/inputs/input_indaco_cnn_n32_xlum_1.3e-1_1e0_5_z_0_xlumBA4_sobol8.toml"

########## Output dir: PS #########

#output_dir="/exa/projects/MLS/inigo.saez/trained_models/ps_n128_mass_1e14_z_0"
#output_dir="/exa/projects/MLS/inigo.saez/trained_models/ps_n128_mass_1e14_1e15_10_z_0"

########## Output dir: CNN #########

output_dir="/exa/projects/MLS/inigo.saez/trained_models/density_field_n32_xlum_1.3e-1_1e0_5_z_0_xlumBA4_sobol8"

# Python main script.
exe_python="/home/users/inigo.saez/codes/MLS-CNN/main.py"

mkdir -p $output_dir
cd $output_dir
mkdir -p logs

#python $exe_python tune -n $n_threads -f $param_file -o $output_dir &> ${output_dir}/logs/tune_1.log
python $exe_python tune -n $n_threads -f $param_file -o $output_dir &> ${output_dir}/logs/tune_2.log

#python $exe_python train -n $n_threads -f $param_file -o $output_dir &> ${output_dir}/logs/train.log
